.item-main {
  border: 1px solid #0B4AC6;
  margin: 1rem 0;
  padding: 0.5rem 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-main h2, .item-main p, .item-main button {
  margin: 0.3rem;
}

.complete {
  background-color: rgba(11, 74, 198, 0.1);
  order: 1;
}

.complete h2, .complete p {
  text-decoration: line-through;
}

.item-btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.edit-btn {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  background-color: #0B4AC6;
  color: white;
  font-size: 18px;
}

.remove-btn {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  background-color: #0B4AC6;
  color: white;
  font-size: 18px;
}