.container-filter {
  width: 30%;
  min-width: 350px;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 450px) {
  .container-filter {
    width: 70%;
  }
}

.user-card {
  text-align: center;
}

.greet {
  margin-bottom: 2rem;
}

.filter-button {
  color: #0B4AC6;
  font-size: 14px;
}

.filter-button:hover {
  cursor: pointer;
  text-decoration: underline;
}