.welcome__main {
  min-width: 500px;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .welcome__main {
    width: 70%;
    min-width: 250px;
  }
}

.main__title {
  font-size: 22px;
  margin: 0.5rem;
}

.main__input {
  padding: 0.3rem;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 0.3rem;
  border: 1px solid #0B4AC6;
  width: 70%;
  font-size: 16px;
}

.login-prompt {
  margin-top: 1rem;
}

.login-prompt a{
  text-decoration: none;
  color: #0B4AC6;
}
